{
  "SomeProperty": "SomeValue",
  "SomeSection": {
    "Property1": "Value1",
    "Property2": "Value2"
  },
  "ConnectionStrings": {
    "Default": "Server=cs3.calstatela.edu;Database=userDatabase; User ID = userID; Password=abc"
  }
}