@{
    ViewData["Title"] = "Home Page";
}

<div class="home">
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
    </div>
    <div class="buttons">
        <button type="button" class="btn btn-link btn-lg"><a asp-controller="Vaccines" asp-action="Index"></a>Vaccine Management</button>
        <button type="button" class="btn btn-link btn-lg">Patient Management</button>
        <a asp-controller="Vaccines" asp-action="Index">Prrrr</a>
    </div>
</div>

